* {
    font-family: monospace;
    justify-self: center;
    margin-top: 20px;
}

.product-card {
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 0 2px 4px black;
    box-sizing: border-box;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.product-title {
    font-size: 35px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
}

.buy-button {
    background-color: #28a745;
    color: white;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}